.form-add-film {
  .MuiFormControl-root {
    width: 100%;
    margin-top: 1rem;
  }

  img {
    width: 25%;
  }

  .select-hm {
    width: 100%;
    margin-top: 1rem;
  }

  .add-film-button {
    display: flex;
    justify-content: center;

    button {
      margin: 1rem;
    }
  }
}

.form-add-film {
  .MuiFormControl-root {
    width: 100%;
    margin-top: 1rem;
  }

  img {
    width: 25%;
  }

  .select-hm {
    width: 100%;
    margin-top: 1rem;
  }

  .add-film-button {
    display: flex;
    justify-content: center;

    button {
      margin: 1rem;
    }
  }
}
.form-edit-film {
  .MuiFormControl-root {
    width: 100%;
    margin-top: 1rem;
  }

  .add-film-button {
    display: flex;
    justify-content: center;

    button {
      margin: 1rem;
    }
  }
}